<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/loading-bar.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js" defer></script>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="./js/main.js" defer></script>
    <title>商品一覧 | シェアードショップ</title>
</head>

<body id="body">

    <div class="page-loader-container">

        <header class="header">
            <div class="container header_container">
                <div class="header_content_top">
                    <h1 class="site_title">道見知 -DOMICIL-</h1>
                    <form class="search-form" action="#" method="get">
                        <input class="search-text" type="text" placeholder="検索" />
                        <button class="search-btn" type="submit">検索</button>
                    </form>
                    <ul class="header_navi_area">
                        <li class="line"><a href="#">トップ</a></li>
                        <li class="line"><a href="#">商品一覧</a></li>
                        <li class="line"><a href="#">買い物かご</a></li>
                        <li class="line">
                            <a href="http://localhost:55000/shared_shop/login">ログイン</a>
                        </li>
                    </ul>
                </div>
                <div class="header_content_bottom">
                    <ul class="search_list">
                        <li class="category">
                            <a href="">カテゴリ検索</a>
                            <!-- グローバルナビゲーション -->
                            <ul class="gnavi_lists">
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="line"><a href="">セール品検索</a></li>
                        <li class="line"><a href="">規格外商品検索</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="section section-payment">
            <div class="container container-payment">
                <div class="section_title">
                    <h2 class="title payment_title">お支払い方法選択</h2>
                </div>
                <div class="user_info_form_area">
                    <form th:action="@{/client/order/check}" method="post" class="payment-form">
                        <ul class="payment_method_select">
                            <li>
                                <label class="radio_label">
                                    <input type="radio" name="payMethod" value="1" th:if="${payMethod == 1}"
                                        checked="checked" onclick=" payChange();" />
                                    <input type="radio" name="payMethod" value="1"
                                        th:unless="${payMethod == 1}" />[[#{paymethod.credit.str}]]
                                </label>
                            </li>
                            <li>
                                <label class="radio_label">
                                    <input type="radio" name="payMethod" value="2" th:if="${payMethod == 2}"
                                        checked="checked" onclick=" payChange();" />
                                    <input type="radio" name="payMethod" value="2"
                                        th:unless="${payMethod == 2}" />[[#{paymethod.bank.str}]]
                                </label>
                            </li>
                            <li>
                                <label class="radio_label">
                                    <input type="radio" name="payMethod" value="3" th:if="${payMethod  == 3}"
                                        checked="checked" onclick=" payChange();" />
                                    <input type="radio" name="payMethod" value="3"
                                        th:unless="${payMethod  == 3}" />[[#{paymethod.onarrival.str}]]
                                </label>
                            </li>
                            <li>
                                <label class="radio_label">
                                    <input type="radio" name="payMethod" value="4" th:if="${payMethod == 4}"
                                        checked="checked" onclick=" payChange();" />
                                    <input type="radio" name="payMethod" value="4"
                                        th:unless="${payMethod == 4}" />[[#{paymethod.emoney.str}]]
                                </label>
                            </li>
                            <li>
                                <label class="radio_label">
                                    <input type="radio" name="payMethod" value="5" th:if="${payMethod == 5}"
                                        checked="checked" onclick=" payChange();" />
                                    <input type="radio" name="payMethod" value="5"
                                        th:unless="${payMethod == 5}" />[[#{paymethod.convenience.str}]]
                                </label>
                            </li>
                        </ul>
                        <div class="send-btn-container2">
                            <input type="submit" class="payment-send_button send_button" value="次へ" />
                        </div>
                    </form>
                    <form th:action="@{/client/order/payment/back}" method="post" class="back_button-form">
                        <input type="submit" class="back_button back_button-payment" value="戻る" />
                    </form>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container footer-container">
                <ul class="footer-navi">
                    <li class="line"><a href="#">トップ</a></li>
                    <li class="line"><a href="#">商品一覧</a></li>
                    <li class="line"><a href="#">買い物かご</a></li>
                    <li class="line"><a href="#">注文一覧</a></li>
                </ul>
                <small class="copyright">
                    Copyright(C) System Shared co., ltd, ALL Rights Reserved
                </small>
            </div>
        </footer>

        <div class="page-top-btn">
            <div class="page-top-btn-link">
                <a href="#">↑</a>
            </div>
        </div>

    </div>
</body>

</html>