<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/loading-bar.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js" defer></script>
    <script src="./js/main.js" defer></script>
    <title>商品一覧 | シェアードショップ</title>
</head>

<body id="body">
    <div class="page-loader-container">
        <header class="header">
            <div class="container header_container">
                <div class="header_content_top">
                    <h1 class="site_title">道見知 -DOMICIL-</h1>
                    <form class="search-form" action="#" method="get">
                        <input class="search-text" type="text" placeholder="検索" />
                        <button class="search-btn" type="submit">
                            検索
                        </button>
                    </form>
                    <ul class="header_navi_area">
                        <li class="line"><a href="#">トップ</a></li>
                        <li class="line"><a href="#">商品一覧</a></li>
                        <li class="line"><a href="#">買い物かご</a></li>
                        <li class="line">
                            <a href="http://localhost:55000/shared_shop/login">ログイン</a>
                        </li>
                    </ul>
                </div>
                <div class="header_content_bottom">
                    <ul class="search_list">
                        <li class="category">
                            <a href="">カテゴリ検索</a>
                            <!-- グローバルナビゲーション -->
                            <ul class="gnavi_lists">
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                                <li class="gnavi_list">
                                    <a href="#">カテゴリ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="line"><a href="">セール品検索</a></li>
                        <li class="line"><a href="">規格外商品検索</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="section user-update-section">
            <div class="container user-update-container">
                <div class="section_title">
                    <h2 class="title user-update_title">会員変更</h2>
                </div>
                <p th:class="input_message" th:text="#{msg.update.input}"></p>
                <div class="user_info_form_area user-update-area">
                    <form th:action="@{/client/user/update/check}" method="post" class="user_info_form user-update-form"
                        th:object="${userForm}">

                        <th:block th:if="${#fields.hasErrors()}">
                            <ul class="error_list">
                                <li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
                            </ul>
                            <br />
                        </th:block>
                        <ul class="input_list">
                            <li>
                                <label><span class="input_title">[[#{userForm.email}]]</span></label>
                                <input type="text" th:field="*{email}" />
                            </li>
                            <li>
                                <label><span class="input_title">[[#{userForm.password}]]</span></label>
                                <input type="password" th:field="*{password}" />
                            </li>
                            <li>
                                <label><span class="input_title">[[#{userForm.name}]]</span></label>
                                <input type="text" th:field="*{name}" />
                            </li>
                            <li>
                                <label><span class="input_title">[[#{userForm.postalCode}]]</span></label>
                                <input type="text" th:field="*{postalCode}" />
                            </li>
                            <li>
                                <label><span class="input_title">[[#{userForm.address}]]</span></label>
                                <textarea rows="6" th:field="*{address}"></textarea>
                            </li>
                            <li>
                                <label><span class="input_title">[[#{userForm.phoneNumber}]]</span></label>
                                <input type="text" th:field="*{phoneNumber}" />
                            </li>
                        </ul>
                        <div class="user-update-btn-form">
                            <input type="hidden" th:field="*{authority}" />
                            <input type="hidden" th:field="*{id}" />
                            <input type="submit" value="確認" class="send_button" />
                        </div>
                    </form>
                    <form th:action="@{/client/user/detail/{id}(id=${session.user.id})}" method="post" class="user-update-back-btn-form">
                        <input type="submit" value="戻る" class="back_button" />
                    </form>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="container footer-container">
                <ul class="footer-navi">
                    <li class="line"><a href="#">トップ</a></li>
                    <li class="line"><a href="#">商品一覧</a></li>
                    <li class="line"><a href="#">買い物かご</a></li>
                    <li class="line"><a href="#">注文一覧</a></li>
                </ul>
                <small class="copyright">
                    Copyright(C) System Shared co., ltd, ALL Rights Reserved
                </small>
            </div>
        </footer>

        <div class="page-top-btn">
            <div class="page-top-btn-link">
                <a href="#">↑</a>
            </div>
        </div>
    </div>
</body>

</html>